

.objEventsGroup rect {
    width: 10px;
    height: 10px;
}

.dashEventLink{
    stroke: black;
    stroke-dasharray: 5;
    stroke-width: 1px;
}

.baseLine {
    stroke: rgba(0.01, 0.01, 0.01, 0.72);
    stroke-width: 1.5px;
    opacity: 0.7;
}

table{
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    text-align: center;
    vertical-align: center;

}

table.splittedCell td{
    border-width: 0;
}

table.splittedCell tr:not(:last-child){
    border-bottom: 0.5px solid rgba(61, 59, 59, 0.212);
}

td.tdYear {
    border: 0.5px solid rgba(61, 59, 59, 0.212);
}

table.container{
    width: 90vw;
}

.dateLabel{
    fill: black;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}